html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins',sans-serif;
    color: #222;
    
}
.padding{
    padding-left: 8em;
    padding-right: 8em;
}
/* Home */
.tab{
    width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: center;
    height: 50px;
    color: white;
    align-items: center;
}
.tab p{
    margin-bottom: 0 ;
    margin-left: 1rem;
}
.tab .btn{
    background-color: salmon;
    border: none;
    margin-right: 1rem;
    font-size: 90%;
    border-radius: 20px;
}
.tab .btn:hover{
    background-color: white;
    color: #171717;
}
.navbar-brand{
    font-size: 2rem;
    color: white;
}
i{
    margin-right: 1rem;
}

.navbar{
    padding: 0;
    background-color: salmon;
}
.navbar-nav li{
    padding-right: 1em;
}
.nav-link{
    font-size: 1.2em;
}
.bg{
    display: flex;
    align-items: center;
    height: 23rem;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("image1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover ;
    color: white;
}
.content{
   padding-top: 4em;
   padding-bottom: 4em;
}

/* features */
#features{
    margin-bottom: 5em;
}
.features-intro{
    display: flex;
    
}

.left,.right{
    flex-basis: 50%;
    padding-top: 3em;
    padding-bottom: 3em;
}

.right{
    text-align: right;
}
.cards{
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.card{
    background-color: #171717;
    height: 18rem;
    text-align: center;
}
.card-title{
    padding-top: 1em;
    padding-bottom: 2em;
}
/* Covid section  */
.covid-content{
    align-items: center;
    display: flex;
    justify-content:flex-end;
    height: 20rem;
    background-position: center;
    background-size: cover;
    color: white;
    background-image: linear-gradient(rgba(208,208,208,0),rgba(208,208,208,0)),url("download.jpg");
}
.cont{
    text-align: right;
    flex-basis: 70%;
}

/* shop section */
.shop-content{
    padding-bottom: 3em;
    padding-top: 3em;
}
.shop-content a{
    color: black;
}
/* findus */
#findus{
    background-color: #171717;
    color: mintcream;
}
.find-us{
    padding-top: 3em;
    padding-bottom: 2em ;
}
hr{
    border: 1px solid mintcream;
}
/* Media Query */

@media (max-width:992px){
    .padding{
        padding-left: 6em;
        padding-right: 6em;
    }
    .cards{
        display: block;
        width: 100%;
    }
    .card{
        min-width: 100%;
    }
    .navbar-nav li{
        padding-right: 0.7em;
    }
    .nav-link{
        font-size: 0.9em;
    }
    .features-intro{
        display: block;
        text-align: center;
    }
    .left,.right{
        width: 100%;
        text-align: center;
    }
 @media (max-width : 768px) {
    .padding{
        padding-left: 4em;
        padding-right: 4em;
    }
    .navbar{
        padding-right: 4em;
        padding-left: 4em;
        background-color: salmon;
    }
    .cont{
        text-align: right;
        flex-basis: 80%;
    }
    .features-intro{
        display: block;
        
    }
    .left,.right{
        width: 100%;
    }
}
    @media (max-width: 576px){
        .padding{
            padding-left: 2em;
            padding-right: 2em;
        }
        .navbar{
            padding-right: 2em;
            padding-left: 2em;
            background-color: salmon;
        }
        .cont{
            text-align: center;
            flex-basis: 100%;
        }
        .bg{
            text-align: center;
        }
    }
    
 
 

}
